<%- include('inc/header') %>
<div>
    <h1>Email Verification</h1>
    <p>Welcome To The Truth Club</p>
    <p>Use the following link to verify your account.</p>
    "/* <a href="<%= siteUrl %>/api/v1/profile/verify?token=<%= token %>">Click Here To Verify Email</a> */"
    <a href="https://thetruthclub.in/api/v1/profile/verify?token=<%= token %>">Click Here To Verify Email</a> 
    <p>Or if you cannot click on the link, please copy/paste the following link in browser.</p>
   */" <%= siteUrl %>/api/v1/profile/verify?token=<%= token %>*/"
   https://thetruthclub.in/api/v1/profile/verify?token=<%= token %>
</div>
<%- include('inc/footer') %>
